# stryker temp files
.stryker-tmp
stryker.log
/test-results
/playwright-report
# Dependency directories
.idea/
.nyc_output/
coverage/
coverage-unit/
coverage-integration/
node_modules/
reports/
coverage.lcov

## Mac crap
.DS_Store

## Others
.env
tmp/
*.tmp
*.swp
*.tgz
gcloud-flags.yaml

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
